:root{
    /* Colores */
    --verde: #006847;
    --azul: #003366;
    --dorado: #F4C430;
    /* Titulos */
    --blanco: #FFFFFF;
    --gris: #F5F5F5;
    --grisO: #afafaf;
    /* fondo */
    --negro: #222222;
    --negroc: #141414f6;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body{
    background-color: var(--grisO) !important;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif !important;

}

.titulo{
    color: var(--dorado);
}

.btn {
    background-color: var(--negro);
    color: var(--dorado);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: var(--azul) !important;
    color: var(--blanco) !important;
    border-color: var(--azul) !important;
}